section.about{
    .mision .left, .mision .right{
        padding: 0 15px;
        width: 100%;
        display: block;
    }
    .vision{
        width: 100%;
        text-align: left;
        padding: 15px 15px 0;
    }
}