section.brigades{
    width: calc(100% - 30px);
    .left, .right{
        width: 100%;
        display: block;
    }
    .buttons{
        text-align: center;
        .button{
            margin-bottom: 10px;
        }
    }
}