<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="app/assets/build/css/master.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css">
        <meta charset="UTF-8">
        <meta name="description" content="Optica la Salle fundada, Ofrecemos servicios de salud visual con profesionales idóneos.">
        <meta name="keywords" content="Salud visual, Optica la salle, unidad movil optica la salle, optica chapinero, optica bogota, consulta de optometria, tonometria ocular, adaptacion de lentes de contacto">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jimena Martin || Esteban Lopez">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <title>Unidad Móvil Optica La Salle</title>
    </head>
    <body class="front">

    <!-- menu -->
    <header class="menu-desktop">
        <div class="info">
            <span class="tel"><i class="icon icon-tel"></i>4679766 - 310 2522823</span>
            <span class="dir"><i class="icon icon-dir"></i><a href="#contacto">Calle 64 # 21 - 25</a></span>
            <div class="social">
                <span><a href="https://www.facebook.com/unidadmovilopticalasalle/" target="_blank"><i class="icon icon-f"></i></a></span>
                <span><a href="https://www.instagram.com/unidadmovil_la_salle/" target="_blank"><i class="icon icon-i"></i></a></span>
                <span><a href="https://twitter.com/?lang=es" target="_blank"><i class="icon icon-t"></i></a></span>
                <span><a href="https://www.youtube.com/" target="_blank"><i class="icon icon-y"></i></a></span>
            </div>
        </div>
        <nav class="mainMenu">
            <ul>
                <li><a href="/"><img src="app/assets/img/logo.png" alt="logo optica"></a></li>
                <li><a href="#nosotros">QUIENES SOMOS</a></li>
                <li><a href="#servicios">SERVICIOS</a></li>
                <li><a href="#brigadas">BRIGADAS</a></li>
                <li><a href="#contacto">CONTACTENOS</a></li>
                <li><a href="productos">PRODUCTOS</a></li>
            </ul>
        </nav>
    </header>
    <!-- end menu -->
    <header class="menu-mobile">
        <div class="info">
            <span class="tel"><i class="icon icon-tel"></i>4679766 - 310 2522823</span>
            <span class="dir"><i class="icon icon-dir"></i>Calle 64 # 21 - 25</span>
            <div class="social">
                <span><a href="https://www.facebook.com/unidadmovilopticalasalle/" target="_blank"><i class="icon icon-f"></i></a></span>
                <span><a href="https://www.instagram.com/unidadmovil_la_salle/" target="_blank"><i class="icon icon-i"></i></a></span>
                <span><a href="https://twitter.com/?lang=es" target="_blank"><i class="icon icon-t"></i></a></span>
                <span><a href="https://www.youtube.com/" target="_blank"><i class="icon icon-y"></i></a></span>
            </div>
        </div>
        <nav class="mainMenu">
            <div>
                <img src="app/assets/img/logo.png" alt="logo optica">
            </div>
            <ul>
                <li><a href="#nosotros">QUIENES SOMOS</a></li>
                <li><a href="#servicios">SERVICIOS</a></li>
                <li><a href="#brigadas">BRIGADAS</a></li>
                <li><a href="#contacto">CONTACTENOS</a></li>
                <li><a href="productos">PRODUCTOS</a></li>
            </ul>
        </nav>
    </header>



        <div class="wrapper">
                <section class="mainSlider">
                    <ul class="slides">
                        <li class="slide active">
                            <img src="app/assets/img/slider/slide1.jpg" alt="slider optica">
                            <!--<div class="description">Programe su consulta de Optometria HOY</div>-->
                        </li>
                        <li class="slide">
                            <img src="app/assets/img/slider/slide2.jpeg" alt="slider optica">
                            <!--<div class="description">Programe su consulta de Optometria HOY</div>-->
                        </li>
                        <li class="slide">
                            <img src="app/assets/img/slider/slide3.jpeg" alt="slider optica">
                            <!--<div class="description">Programe su consulta de Optometria HOY</div>-->
                        </li>
                       <li class="slide">
                            <img src="app/assets/img/slider/slide4.jpeg" alt="slider optica">
                            <!--<div class="description">Programe su consulta de Optometria HOY</div>-->
                        </li>
                        <li class="slide">
                            <img src="app/assets/img/slider/slide5.jpg" alt="slider optica">
                            <!--<div class="description">Programe su consulta de Optometria HOY</div>-->
                        </li>
                    <!-- controls -->
                    <button class="controls" id="previous">Previous</button>
                    <button class="controls" id="next">Next</button>
                    </ul>
                </section> <!-- end section.mainSlider-->
            <div class="container">


                <section class="about" id="nosotros">
                    <h2 class="title">QUIENES SOMOS</h2>

                    <div class="mision">
                        <div class="left">
                            <img src="app/assets/img/mision.png" alt="mision optica">
                        </div>
                        <div class="right">
                            <h3 class="subtitle">MISIÓN</h3>
                            <p>Optica la Salle fundada en 1984  tiene como fin principal la prestación de servicios de salud visual con 
                                tecnología de punta, recurso humano idóneo e infraestructura  física adecuados para la prestación de este servicio, 
                                basado en un modelo humanístico enfocado en el mejoramiento de la calidad de vida de nuestros usuarios.</p>
                        </div>
                    </div>
                    <div class="vision">
                        <h3 class="subtitle">VISIÓN</h3>
                        <p>Ser en el 2020 una empresa reconocida como punto de referencia, con la mayor especialización 
                            en la prestación de servicios de salud visual, teniendo en cuenta altos estándares de calidad 
                            con el fin de garantizar sostenibilidad financiera y tecnológica, impactando de forma positiva en 
                            las condiciones de vida de nuestros usuarios y de su familia.</p>
                    </div>
                </section> <!-- end section.about-->

                <section class="services" id="servicios">
                    <h2 class="title">NUESTROS SERVICIOS</h2>
                    <div class="containerServices">
                        <div class="serv">
                            <img src="app/assets/img/serv1.png" alt="servicios optica">
                            <div class="titleServ">Consulta de Optometria</div>
                            <div class="hover">
                                <span>Consulta de Optometria</span>
                            </div>
                        </div>
                        <div class="serv">
                            <img src="app/assets/img/serv2.png" alt="servicios optica">
                            <div class="titleServ">Gafas y Lentes Oftálmicos</div>
                            <div class="hover">
                                <span>Gafas y Lentes Oftálmicos</span>
                            </div>
                        </div>
                        <div class="serv">
                            <img src="app/assets/img/serv3.png" alt="servicios optica">
                            <div class="titleServ">Brigadas Empresariales</div>
                            <div class="hover">
                                <span>Brigadas Empresariales</span>
                            </div>
                        </div>
                    </div>
                     <div class="containerServices">
                        <div class="serv">
                            <img src="app/assets/img/serv4.png" alt="servicios optica">
                            <div class="titleServ">Adaptación de lentes de contacto</div>
                            <div class="hover">
                                <span>Adaptación de lentes de contacto</span>
                            </div>
                        </div>
                        <div class="serv">
                            <img src="app/assets/img/serv5.png" alt="servicios optica">
                            <div class="titleServ">Certificados Visuales</div>
                            <div class="hover">
                                <span>Certificados Visuales <br/>(Colegio - Pase - Trabajo)</span>
                            </div>
                        </div>
                        <div class="serv">
                            <img src="app/assets/img/serv6.png" alt="servicios optica">
                            <div class="titleServ"> Pruebas Especiales
                                <span>
                                    <br/>
                                    Test de Color (Ishihara)
                                    <br/>
                                    Test de visión de Profundidad (Titmus)
                                </span>
                            </div>
                            <div class="hover">
                                <span>Pruebas Especiales<br/>
                                        Test de Color (Ishihara)<br/>
                                        Test de visión de Profundidad (Titmus)
                                </span>
                            </div>
                        </div>
                        <div class="serv">
                            <img src="app/assets/img/serv7.jpg" alt="servicios optica">
                            <div class="titleServ">Tonometria Ocular</div>
                            <div class="hover">
                                <span>Tonometria Ocular</span>
                            </div>
                        </div>                        
                    </div>

                </section> <!-- End section.services-->

                <section class="brigades" id="brigadas">
                    <div class="left">
                        <div class="brigades-container">
                            <h2 class="title">BRIGADAS</h2>
                            <div class="slides">
                                <div class="slide active">
                                    <p>Ofrecemos servicios de salud visual con profesionales idóneos, 
                                    tecnología de punta y una infraestructura  física completa. 
                                    Brindamos una atención integral, amable y cordial teniendo como fin 
                                    principal satissatisfacer las 
                                    necesidades de los usuarios y mejorar su calidad de vida.</p>
                                    <p>
                                        BENEFICIOS
                                        <br/>
                                        En las brigadas empresariales, el empleado accede a los siguientes servicios:
                                        <ul>
                                            <li>Consulta de Optometría Integral (Evaluación defecto refractivo, Prescripción óptica, 
                                                Motilidad ocular, Oftalmoscopia, Pruebas de Color y Estereopsis)</li>
                                            <li>Asesoría para la adquisición de gafas y/o lentes de contacto.</li>
                                            <li>Descuentos en la adquisición de nuestros productos.</li>
                                        </ul>
                                    </p>

                                </div>
                                
                                <div class="slide">
                                    <p>
                                        CONVENIO DE SERVICIO <br/>
                                        ​En las brigadas empresariales se tienen las siguientes opciones para la prestación 
                                        del servicio:
                                        <br/>
                                        <ul style="list-style: circle">
                                            <li>
                                                DESCUENTO DE NOMINA      
                                            </li>
                                            <li>
                                                CONVENIO EMPLEADO
                                            </li>
                                        </ul>
                                    </p>
                                    <ul>
                                        <li>
                                            La brigada se realizara en la empresa con un mínimo de 10 personas.  
                                        </li>
                                        
                                        <li>
                                            Garantía en la adquisición de lentes y monturas (Aplican condiciones y restricciones)
                                        </li>
                                        <li>
                                            Si se adquieren nuestros productos la consulta no tendrá costo.
                                        </li>
                                        <li>
                                            Si la empresa desea la consulta de optometría completa sin realizar 
                                            compra de nuestros productos, se le dará un descuento del 60% 
                                            en la consulta, por lo tanto cancelara un valor de $8.000 por persona.
                                        </li>
                                    
                                    </ul>
                                </div>  

                            </div> <!--end wrapper -->                  
                            <div class="buttons">
                                <!-- If we need navigation buttons -->
                                <button class="button button-prev" id="button-prev">< ANTERIOR</button>
                                <button class="button button-next" id="button-next">SIGUIENTE ></button> 
                                <button class="button download"><a href="app/assets/Portafolio-de-Servicios-Optica-La-Salle.pdf" target="_blank"><i class="icon icon-d"></i>PORTAFOLIO</a></button>
                            </div>    <!-- end buttons -->   
                        </div><!-- end container -->
                    </div> <!-- end left -->
                    
                    <div class="right">
                        <img src="app/assets/img/brigades.png" alt="brigadas de optometria para empresas">
                    </div>
                </section> <!-- end section-brigades -->
            </div> <!-- end container -->
                <section class="contact" id="contacto" ng-app="app">
                    <div id="map"></div>
                   <!-- <img src="app/assets/img/mapa.png" alt="mapa "> -->
                    <div class="contactForm" ng-controller="contactController">
                        <h2 class="title">CONTACTENOS</h2>
                        <div class="description">
                            Programe su consulta de optometria HOY!!! <br/>
                            <span>
                                Direccion: Calle 64 # 21 - 25 <br/>
                                Teléfonos: 4679766 - 310 2522823 
                            </span>
                        </div>
                        <form ng-submit="verificarCaptcha(contact)" name="contactForm">
                            <input type="text" placeholder="NOMBRE" name="name" ng-model="contact.name" required><br/>
                            <input type="email" placeholder="EMAIL" name="email" ng-model="contact.emailFrom" required><br/>
                            <textarea name="MENSAJE" name="message" ng-model="contact.body"  rows="6" placeholder="MENSAJE" required></textarea><br/>
                            <div style="padding-left:20px;" vc-recaptcha key="'6LcT_h0UAAAAAOueY1LpvmU-Tn5-cPiUMzKu_SXV'" ng-model="contact.myRecaptchaResponse" theme="dark" lang="es"></div>
                            <div style="color: #00bcd4; font-size: .8em; margin: 0px 0 8px; text-align: left; padding-left: 15px;">{{message}}</div>
                            <div ng-if="loading"><img src="https://m.popkey.co/fe4ba7/DYALX.gif" alt="loader" style=" width: 70px; position: absolute; left: 30px;transform: translate(-20px, -22px);"></div>
                            <button type="submit">ENVIAR</button>

                            <div class="social">
                                <span><a href="https://www.facebook.com/unidadmovilopticalasalle/" target="_blank"><i class="icon icon-f"></i></a></span>
                                <span><a href="https://www.instagram.com/unidadmovil_la_salle/" target="_blank"><i class="icon icon-i"></i></a></span>
                                <span><a href="https://twitter.com/?lang=es" target="_blank"><i class="icon icon-t"></i></a></span>
                                <span><a href="https://www.youtube.com/" target="_blank"><i class="icon icon-y"></i></a></span>
                            </div>
                        </form>
                        
                    </div>
                </section> <!-- end section.contact -->
        </div> <!-- end wrapper -->
        <!-- footer -->
        <footer>
            <div class="item main">UNIDAD MOVIL <br/>OPTICA LA SALLE</div>
            <div class="item">TELÉFONOS <br/> 4679766 - 310 2522823</div>
            <div class="item">DIRECCION <br/> CALLE 64 # 21 - 25</div>
            <div class="item">HORARIO DE ATENCIÓN <br/> L-V: 9:00 AM - 5:30 PM - S: 9:30 AM - 4:00 PM </div>
        </footer>  
        <div class="jimenamartin"><a href="https://jimenamartin.com/" target="_blank"><span>Created by </span> | JimenaMartin.com</a></div>      
        <!-- end footer -->
        <script>
            function initMap() {
                var uluru = {lat: 4.6550062, lng: -74.06988230000002};
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru,
                scrollwheel: false,
                });
                var marker = new google.maps.Marker({
                position: uluru,
                map: map
                });
            }
            </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.3.1/js/smooth-scroll.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js"></script>
        <script src="app/assets/js/slider.js"></script>
        <script src="app/assets/js/mainSlider.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCunGLHZdpm2FB52WElc86TNUuVGyHymLg&callback=initMap"  async defer > </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
        <script src="bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
        <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
        <script src="app/libs/swiper.min.js"></script>
       <script src="app/libs/angular-swiper.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/contactController.js"></script>

        <!-- add firebase -->

        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyCvstAvciCnxvYkUWnJK9rwRa1UIwzZotg",
            authDomain: "singular-ally-162520.firebaseapp.com",
            databaseURL: "https://singular-ally-162520.firebaseio.com",
            projectId: "singular-ally-162520",
            storageBucket: "",
            messagingSenderId: "195756312723"
          };
          firebase.initializeApp(config);
        </script>

        <!-- end firebase -->


    </body>
</html>